REACT_APP_CONTACT_EMAIL=my_email
REACT_APP_GITHUB_URL=https://github.com/kozak8909 // easy access
REACT_APP_LINKEDIN_URL=https://www.linkedin.com/in/matvii-maliuta/ // easy access
REACT_APP_FORM_ACCESS_KEY=web3form_access_key