@use "variables";

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: variables.$color-accent;
        transition: width 0.3s ease-in-out;
        box-shadow: 0 0 8px rgba(variables.$color-accent, 0.6);
    }

    &:hover {
        color: variables.$color-accent;

        &::after {
            width: 100%;
        }
    }

    &.active {
        color: variables.$color-accent;

        &::after {
            width: 100%;
        }
    }
}